.text1{
    background: linear-gradient(90deg, #604DBC 0%, #15E8BA 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    
    text-transform:capitalize;
    
    
    }
    .btn1{
        background: linear-gradient(270.53deg, #604DBC 14.72%, #38A1BB 77.9%, #38A1BB 84.87%);
        box-shadow: 0px 18px 54px rgba(0, 0, 0, 0.02);
        
        border: #604DBC;
        
    }
    .btn1:hover{
        background: #34e7e4;
        transition: 0.3s;
        color: black;
    }